.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    border: .1rem solid #ddd;
}

.dropdown-content li{
  color: black;
}

.dropdown-content li, .myInput{
  padding: 2rem;
}  

.dropdown-content li {
   font-size: 1.5rem;
  }

  .dropdown li:hover, .myInput{
    font-size: 2rem;
  }

.dropdown li:hover {
    background-color: black;
    color: white;
}

ul{
    list-style-type:none;
    padding: 0; 
}

.myInput {
  border: none;
  border-bottom: .2rem solid black;
}
