table, th, td 
{
    border: solid .1rem #DDD;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

th, td, p, input {
    font-size: .8rem Verdana;
}

th {
    font-weight:bold;
}