body{
    padding: 1rem;
}

body > div{
    background-color:  #f2f2f2;
}

header{
    box-sizing: border-box;
    background-color:   #f2f2f2;  
    padding: 1rem;
}

header > h2:hover{
    font-size: 3.7rem;
    background-color:  #d9d9d9;
    color:  #737373;
    padding: 1rem;
    border-radius: .5rem;
    transition-duration: 80ms;
}

.info{
    box-sizing: border-box;
    box-shadow: .1rem .6rem 2.5rem .2rem  #e6e6ff inset;
    padding: .6rem;
    border-radius: .4rem; 
}

div > span{
    font-size: 2rem;
}

/* ------------------------------------------FORM-------------------------------------------- */

form{
    box-shadow: .5rem 1.9rem 2.5rem .8rem  #ebfaeb inset;
    padding: 1rem;
    /* background-color: #e6e6e6; */
}

.btn{
    background-color: #0040ff;
    width: 10rem;
    color: white;
}

.button{
    /* background-color: ; */
    box-shadow: .1rem .1rem 2.5rem .2rem  #ffccff inset;

}

.msg-box{
    box-shadow: .5rem 1.9rem 2.5rem .8rem #ccffcc inset;
    border: 1px solid green;
    /* background-color: #ccffcc; */
    border-radius: .3rem;
    padding: .5rem; 
}

.msg-box > a:hover{
    text-decoration: none;
    font-size: 1.7rem;
    background-color: black;
    text-decoration-style: solid;
    color: white;
    border-radius: 0.3rem;
    padding: 0.2rem;
} 