body, header, header > h2:hover, .info, form, .msg-box > a:hover{
    padding: 1rem;
}

body > div, header{
    background-color:  #f2f2f2;
}

header, .info{
    box-sizing: border-box;  
}

header > h2:hover{
    font-size: 3.7rem;
    background-color:  #d9d9d9;
    color:  #737373;
    border-radius: .5rem;
    transition-duration: 80ms;
}

.info, form, .button, .msg-box{
    box-shadow: .5rem 1.9rem 2.5rem .8rem  #ebfaeb inset;

}

.info{
    border-radius: .4rem; 
}

div > span{
    font-size: 2rem;
}

.btn, .msg-box > a:hover{
    color: white;
}

.btn{
    background-color: #0040ff;
    width: 10rem;
}

.msg-box{
    border: 1px solid green;
    border-radius: .3rem;
    padding: .5rem; 
}

.msg-box > a:hover{
    text-decoration: none;
    font-size: 1.7rem;
    background-color: black;
    text-decoration-style: solid;
    border-radius: 0.3rem;
} 
